bodegaAPP/Connected Services/ProductosService/ProductoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/productosbodegaWSSOAP.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/productosbodegaWSSOAP.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="idbodega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idcategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idproducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
</xs:schema>