bodegaAPP/Connected Services/ProductosService/ProductoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IProductoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://productosbodegawssoap20220214181714.azurewebsites.net/ProductoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://productosbodegawssoap20220214181714.azurewebsites.net/ProductoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/productosbodegaWSSOAP.Errores" />
      <xsd:import schemaLocation="https://productosbodegawssoap20220214181714.azurewebsites.net/ProductoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://productosbodegawssoap20220214181714.azurewebsites.net/ProductoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/productosbodegaWSSOAP.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductoService_CrearProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearProducto" />
  </wsdl:message>
  <wsdl:message name="IProductoService_CrearProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_CrearProducto_ErroresExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/productosbodegaWSSOAP.Errores" name="detail" element="q1:ErroresException" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProducto" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ModificarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarProducto" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ModificarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_EliminarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProducto" />
  </wsdl:message>
  <wsdl:message name="IProductoService_EliminarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ListarProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductos" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ListarProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ListarPorBodega_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorBodega" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ListarPorBodega_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorBodegaResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductoService">
    <wsdl:operation name="CrearProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/CrearProducto" message="tns:IProductoService_CrearProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/CrearProductoResponse" message="tns:IProductoService_CrearProducto_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProductoService/CrearProductoErroresExceptionFault" name="ErroresExceptionFault" message="tns:IProductoService_CrearProducto_ErroresExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ObtenerProducto" message="tns:IProductoService_ObtenerProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ObtenerProductoResponse" message="tns:IProductoService_ObtenerProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ModificarProducto" message="tns:IProductoService_ModificarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ModificarProductoResponse" message="tns:IProductoService_ModificarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/EliminarProducto" message="tns:IProductoService_EliminarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/EliminarProductoResponse" message="tns:IProductoService_EliminarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ListarProductos" message="tns:IProductoService_ListarProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ListarProductosResponse" message="tns:IProductoService_ListarProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPorBodega">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ListarPorBodega" message="tns:IProductoService_ListarPorBodega_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ListarPorBodegaResponse" message="tns:IProductoService_ListarPorBodega_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductoService" type="tns:IProductoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/CrearProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErroresExceptionFault">
        <soap:fault use="literal" name="ErroresExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ObtenerProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ModificarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductos">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ListarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorBodega">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ListarPorBodega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IProductoService" type="tns:IProductoService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IProductoService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/CrearProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErroresExceptionFault">
        <soap:fault use="literal" name="ErroresExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ObtenerProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ModificarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductos">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ListarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorBodega">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ListarPorBodega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductoService">
    <wsdl:port name="BasicHttpBinding_IProductoService" binding="tns:BasicHttpBinding_IProductoService">
      <soap:address location="http://productosbodegawssoap20220214181714.azurewebsites.net/ProductoService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IProductoService" binding="tns:BasicHttpsBinding_IProductoService">
      <soap:address location="https://productosbodegawssoap20220214181714.azurewebsites.net/ProductoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>